<h1>About</h1>
<br>
[Intro]
<p>That's the shit I'm talking 'bout though, like you changed up, you don't even fuckin' link nobody no more, you just dash me away like a cyattie. Yo, you cheesed me dog</p>

[Verse 1]
<p>Always felt like my vision
<br>Been bigger than the bigger picture
<br>Crazy how you gotta wait until it's dark out
<br>To see who really with you
<br>Crazy how even when it miss you
<br>Shit'll come back around and get you
<br>Crazy like all my niggas, crazy like all my niggas
<br>Remember I deleted all my other girls' numbers
<br>Out the phone for you?
<br>Remember when you had to take the bar exam
<br>I drove in the snow for you?
<br>You probably don't remember half the shit a nigga did for you
<br>Yeah, you ain't really fuck with me way back then, girl</p>

[Hook]
<p>But how <b>ABOUT</b> now?
<br>Cause I'm up right now, and you stuck right now
<br>Oh, you thought you had it all figured out back then
<br>But how <b>ABOUT</b> now?
<br>Cause I'm up right now, and you stuck right now, yeah
<br>You thought the little effort that you put in was enough, girl
<br>How <b>ABOUT</b> now? Yeah
<br>Girl, how <b>ABOUT</b> now, how <b>ABOUT</b> now, girl?
<br>What <b>ABOUT</b> now, girl, how <b>ABOUT</b> now?</p>

[Interlude]
<p>My heart belongs to you...</p>

[Verse 2]
<p>Yeah, always been daddy's little angel
<br>I bought your dad a bunch of shit for Christmas
<br>He ain't even say thank you
<br>I had no money left from actin', I was focused on the music
<br>I used to always try and burn you CDs of my new shit
<br>You be like "who's this?" I be like "me, girl"
<br>You be like "oh, word, true shit?"
<br>Then ask if we could listen to Ludacris
<br>Them car rides made me feel like I was losin' it
<br>Yeah, made me feel I ain't have it like that
<br>Or I was average like that
<br>Started drinkin' way more than I used to
<br>People form habits like that, girl
<br>Yeah, man enough to tell you I was hurt that year
<br>I'm not even Christian, I still went to church that year
<br>Guess I just had to pretend that year
<br>I ain't even see my friends that year
<br>Places that I should've been
<br>Yeah, you ain't really fuck with me way back then</p>

[Hook]
<p>But how <b>ABOUT</b> now?
<br>Cause I'm up right now, and you stuck right now
<br>Oh, you thought you had it all figured out back then
<br>But how <b>ABOUT</b> now?
<br>Cause I'm up right now, and you stuck right now, yeah
<br>You thought the little effort that you put in was enough, girl
<br>How <b>ABOUT</b> now? Yeah
<br>Girl, how <b>ABOUT</b> now, how <b>ABOUT</b> now, girl?
<br>What <b>ABOUT</b> now, girl, how <b>ABOUT</b> now?</p>


[Outro]
<p>My hearts belongs to you
<br>Whatever you need, there's nothin' I won't do
<br>Whatever you need, there's nothin' I won't do
<br>Whatever you need, there's nothin' I won't do
<br>Whatever you need, there's nothin' I won't do</p>
