<h2>There are <span class="four">4</span> contacts</h2>

<ul class="contacts">
  <% @contacts.each do |contact| %>
    <li class="contact">
      <a href=/contacts/<%= contact.id %>><%= contact.full_name %></a> (<%= contact.email %>)
      <br><span class="edit"><a href="#">Edit</a> | <a href="#">Delete</a></span></br>
    </li>
  <% end %>
</ul>
