<h1>Home</h1>

<br>
[Refrain: Drake]
<p>I got my eyes on you
<br>You're everything that I see
<br>I want your hot love and emotion endlessly
<br>I can't get over you
<br>You left your mark on me
<br>I want your hot love and emotion endlessly</p>

[Pre-Hook: Drake]
<p>Cause you're a good girl and you know it
<br>You act so different around me
<br>Cause you're a good girl and you know it
<br>I know exactly who you could be</p>

[Hook: Drake]
<p>Just hold on, we're going <b>HOME</b>
<br>Just hold on, we're going <b>HOME</b>
<br>It's hard to do these things alone
<br>Just hold on, we're going <b>HOME</b></p>

[Refrain: Drake]
<p>I got my eyes on you
<br>You're everything that I see
<br>I want your hot love and emotion endlessly
<br>I can't get over you
<br>You left your mark on me
<br>I want your hot love and emotion endlessly</p>

[Pre-Hook: Drake]
<p>Cause you're a good girl and you know it
<br>You act so different around me
<br>Cause you're a good girl and you know it
<br>I know exactly who you could be</p>

[Hook: Drake and (Majid Jordan)]
<p>Just hold on, we're going <b>HOME</b> (going <b>HOME</b>)
<br>Just hold on, we're going <b>HOME</b> (going <b>HOME</b>)
<br>It's hard to do these things alone (things alone)
<br>Just hold on, we're going <b>HOME</b> (going <b>HOME</b>)</p>

[Bridge: Majid Al Maskati]
<p>You're the girl, you're the one
<br>Gave you everything I loved
<br>I think there's something, baby
<br>I think there's something, baby
<br>You're the girl, you're the one
<br>Gave you everything I loved
<br>I think there's something, baby
<br>I think there's something, baby</p>

[Pre-Hook: Drake & Majid Al Maskati]
<p>Cause you're a good girl and you know it
<br>You act so different around me
<br>Cause you're a good girl and you know it
<br>I know exactly who you could be</p>

[Hook: Drake and (Majid Jordan)]
<p>Just hold on, we're going <b>HOME</b> (going <b>HOME</b>)
<br>Just hold on, we're going <b>HOME</b> (going <b>HOME</b>)
<br>It's hard to do these things alone (things alone)
<br>Just hold on, we're going <b>HOME</b> (going <b>HOME</b>)</p>
