<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">
    <title>JK CRM</title>
  </head>
  <body>

    <header>
      <h1>JK CRM</h1>
      <nav>
        <ul class="menu">
          <li><a href="/" class="links">Home</a></li>
          <li><a href="/contacts" class="links">Contacts</a></li>
          <li><a href="/contacts/new" class="links">Create New Contact</a></li>
          <li><a href="/about" class="links">About</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; Bitmaker 2017</p>
    </footer>

  </body>
</html>
