<h1>Create New Contact</h1>

<br>
<form action='/contacts' method='post'>
  <input type='text' name='first_name' placeholder='First Name'>
  <input type='text' name='last_name' placeholder='Last Name'>
  <input type='text' name='email' placeholder='E-mail'>
  <input type='text' name='note' placeholder='Note'>
  <input type='submit' value='Create New Contact'>
</form>
</br>

<br>
[Intro: Drake]
<p>Yeah, I stay down with my day-one niggas
<br>And we in the club, screamin'</p>

[Hook: Drake]
<p>No <b>NEW</b> friends, no <b>NEW</b> friends
<br>No <b>NEW</b> friends, no, no <b>NEW</b>
<br>Still here with my day-one niggas
<br>So you hear me say no <b>NEW</b> friends
<br>No <b>NEW</b> friends, no <b>NEW</b> friends, no, no <b>NEW</b>
<br>I still ride with my day-one niggas
<br>I don't really need no <b>NEW</b> friends
<br>No <b>NEW</b> friends, no <b>NEW</b> friends, no, no <b>NEW</b>
<br>I stay down from day one, so I say
<br>Fuck all y'all niggas except my niggas
<br>Fuck all y'all niggas except my niggas
<br>One more time
<br>Fuck all y'all niggas except my niggas
<br>Fuck all y'all niggas, stay down from day one, so I say
<br>(Fuck a fake friend! Where your real friends at? Started!)</p>

[Verse 1: Drake]
<p>Man, this shit so ill that we had to restart it
<br>H-town my second home like I'm James Harden
<br>Money counter go *brrrr* when you sellin' out the Garden
<br>Four-car garage, pornstar ménage
<br>Birdman go *brrrr* 'cause he know this shit retarded
<br>Fuck her on the floor 'fore we make it to the bed
<br>That's what yo' ass really call started from the bottom
<br>Yes, Lord, OVO Sound, man, I'm proud of my niggas
<br>Knew that we would make it, never doubted my niggas
<br>All my bitches love me; if I had a baby mama
<br>She would probably be richer than a lot of you niggas
<br>Aye, that's luxury, dawg
<br>Day-one niggas, man, y'all stuck with me, dawg
<br>Ever since YouTube, niggas been callin' me the leader of the new school; fuck with me, dawg, yeah</p>

[Hook: Drake]
<p>No <b>NEW</b> friends, no <b>NEW</b> friends
<br>No <b>NEW</b> friends, no, no <b>NEW</b>
<br>Still here with my day-one niggas
<br>So you hear me say no <b>NEW</b> friends
<br>No <b>NEW</b> friends, no <b>NEW</b> friends, no, no <b>NEW</b>
<br>I still ride with my day-one niggas
<br>I don't really need no <b>NEW</b> friends
<br>No <b>NEW</b> friends, no <b>NEW</b> friends, no, no <b>NEW</b>
<br>I stay down from day one, so I say
<br>Fuck all y'all niggas except my niggas
<br>Fuck all y'all niggas except my niggas
<br>One more time
<br>Fuck all y'all niggas except my niggas
<br>Fuck all y'all niggas, stay down from day one, so I say</p>

[Verse 2: Rick Ross]
<p>Your bitch all in my photographs
<br>Ho niggas got hate for me
<br>Big homies all certified
<br>Nothin' niggas gon' take from me
<br>Follow codes, study game
<br>Feed fam, nigga, fuck fame
<br>All black, my whip foreign
<br>These bad hoes keep tiptoein'
<br>Down in Turks and Caicos
<br>Dope boy, that's my dress code
<br>All I hug is blood, nigga
<br>Khaled, that's my flesh, ho
<br>All I want is love, nigga
<br>Money bring that stress though
<br>Smoke good, I love life
<br>Strip club like e'ry night
<br>E'ry night my same niggas
<br>Day one, straight menace (Rozay!)</p>

[Hook: Drake]
<p>No <b>NEW</b> friends, no <b>NEW</b> friends
<br>No <b>NEW</b> friends, no, no <b>NEW</b>
<br>Still here with my day one niggas
<br>So you hear me say no <b>NEW</b> friends
<br>No <b>NEW</b> friends, no <b>NEW</b> friends, no, no <b>NEW</b>
<br>I still ride with my day one niggas
<br>I don't really need no <b>NEW</b> friends
<br>No <b>NEW</b> friends, no <b>NEW</b> friends, no, no <b>NEW</b>
<br>I stay down from day one, so I say
<br>Fuck all y'all niggas except my niggas
<br>Fuck all y'all niggas except my niggas
<br>One more time
<br>Fuck all y'all niggas except my niggas
<br>Fuck all y'all niggas, stay down from day one, so I say
<br>(Fuck a fake friend! Where your real friends at?)</p>

[Verse 3: Lil Wayne]
<p>Ugh, I'm here with my niggas
<br>I'm too high to be friendly
<br>They throw dirt on my name
<br>Well, that's why they still dig me
<br>And I'm tired of all this hatin'
<br>I thank God for my patience
<br>I thank God for my homies
<br>I wish we could trade places
<br>Bitch, we good-fellas
<br>Boy, all them niggas with you, they just pall bearers
<br>And if we ball, catch us
<br>Remember sip slow, live fast
<br>Young Money, stay young
<br>I been Cash Money since day one (Tunechi!)</p>

[Hook: Drake]
<p>No <b>NEW</b> friends, no <b>NEW</b> friends
<br>No <b>NEW</b> friends, no, no <b>NEW</b>
<br>Still here with my day one niggas
<br>So you hear me say no <b>NEW</b> friends
<br>No <b>NEW</b> friends, no <b>NEW</b> friends, no, no <b>NEW</b>
<br>I still ride with my day one niggas
<br>I don't really need no <b>NEW</b> friends
<br>No <b>NEW</b> friends, no <b>NEW</b> friends, no, no <b>NEW</b>
<br>I stay down from day one, so I say
<br>Fuck all y'all niggas except my niggas
<br>Fuck all y'all niggas except my niggas
<br>One more time
<br>Fuck all y'all niggas except my niggas
<br>Fuck all y'all niggas, stay down from day one, so I say</p>

[Outro: Future]
<p>Fuck all y'all niggas except my niggas
<br>Fuck them other niggas
<br>'Cause I'm down for my niggas</p>
