<h1>Create New Contact</h1>

<form action='/contacts' method='post'>
  <input type='text' name='first_name' placeholder='First Name'>
  <input type='text' name='last_name' placeholder='Last Name'>
  <input type='text' name='email' placeholder='E-mail'>
  <input type='text' name='note' placeholder='Note'>
  <input type='submit' value='Create New Contact'>
</form>
